main {
  background-color: mediumaquamarine;
  height: 90vh;
  width: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

button {
  transition: 2s ease-in;
}

button:hover {
  background-color: cornflowerblue;
  color: aliceblue;
}
